#app {
    margin: auto;
    margin-top: 70px;
    color: #eee;
    width: 750px;
    padding: 15px;
    max-width: 100%;
}

.button {
    width: 300px;
    font-size: 15px;
    font-weight: 600;
    min-height: 48px;
}
.access {
    color: #17a2b8;
    text-decoration: none;
}
.access:hover {
    color: #eee;
    text-decoration: none;
}
img.flag {
    height: 20px;
}
.enter {
    margin-top: 30px;
}
.cube {
    color: white;
    display: inline-block;
    font-size: 80px;
    user-select: none;
    border: 4px solid #eee;
}
